.container {
  display: inline-flex;
  width: 100%;
}

.nameColumns{
  width: 150px;
}

.statusColumn {
  width: 150px;
}

.eventColumn {
  width: 600px;
}

.organiserColumn {
  width: 200px;
}

th {
  height: 40px;
}

td {
  height: 23px;
}
